In [ ]:
list1.

# List

In [ ]:
# 1:List is a sequence of values that can be of anytype.
# 2:We can Add/delete/modify Elements in the list 
# 3:Elements are sperated by comma ","
# 4:Elements in list can be accessed via 'INDEX dunction'.
# 5:index starts with 'Zero'
# 6:whatever we put in square bracket that is a elemnt of a List

In [3]:
list1=['football','cricket','baseball','handball',['1998','Age']]

# append() Function, This function is used to add someting at the end of written                                      document.

In [4]:
list1.append('tennis')      
print(list1)

['football', 'cricket', 'baseball', 'handball', ['1998', 'Age'], 'tennis']

# POP() Function, POP is an inbult funtion in python that removes and returns                                   the last value from the list Or the given index number

In [5]:
print(list1)

['football', 'cricket', 'baseball', 'handball', ['1998', 'Age'], 'tennis']

In [6]:
list1.pop()

'tennis'

In [7]:
print(list1)

['football', 'cricket', 'baseball', 'handball', ['1998', 'Age']]

In [8]:
list1.pop(3)

'handball'

In [9]:
print(list1)

['football', 'cricket', 'baseball', ['1998', 'Age']]


# Remove() function is a inbuilt function in python programming language that                        removes the given object from the given list

In [10]:
print(list1)

['football', 'cricket', 'baseball', ['1998', 'Age']]

In [11]:
list1.remove('baseball')

In [12]:
print(list1)

['football', 'cricket', ['1998', 'Age']]

# Replace() Function, we can replace any element in the cell we want

In [13]:
print(list1)

['football', 'cricket', ['1998', 'Age']]

In [15]:
list1[1]='boxing'

In [17]:
print(list1)

['football', 'boxing', ['1998', 'Age']]

In [22]:
list1[2][0]='name'

In [19]:
print(list1)

['football', 'boxing', ['name', 'Age']]

# Iteration = Means to read whole set of elements equally

In [24]:
for i in list1:
    print(i)

football
boxing
['name', 'Age']

# __length__() function is used to Know total elements in list

In [25]:
print(list1)

['football', 'boxing', ['name', 'Age']]

In [27]:
list1.__len__()

3

# Reverse() Function used to reverse whole set

In [31]:
print(list1)

['football', 'boxing', ['name', 'Age']]

In [32]:
list1.reverse()

In [33]:
print(list1)

[['name', 'Age'], 'boxing', 'football']

# TUPLES  :- In Tuples we cannot add/remove/delete element & also we cannot make any modificaton to elements & tuples are written in curve Bracket "()"

In [38]:
list2=('football','cricket','baseball','handball',['1998','Age'])

In [39]:
print(list2)

('football', 'cricket', 'baseball', 'handball', ['1998', 'Age'])

# DICTIONARY 1-is an unordered and mutable python container that sotres     mapping of unique Keys to Values
                        # 2-Dictionaries are written in curley "{}" brackets including key-values pairs sperated by Commas (,), A colon (:), seprated each key from its values

In [3]:
dict1={'name':'rock','age':'23','country':'india'}
dict1['name']

'rock'

In [4]:
dict1['age']

'23'

In [5]:
dict1['country']

'india'

In [7]:
dict1.get("hobby","not entry found for hobby")

'not entry found for hobby'

In [11]:
dict1.__len__()

3

In [13]:
print(dict1.keys())

dict_keys(['name', 'age', 'country'])

In [17]:
print(dict1.values())

dict_values(['rock', '23', 'india'])

In [21]:
for i in dict1.keys():
    print(i)

name
age
country

In [24]:
for i in dict1.values():
    print(i)

rock
23
india