# For loop


#In the context of most data science work, Python for loops are used to loop through an iterable object 
#(like a list, tuple, set, etc.) 
#and perform the same action for each entry. 
#For example, a for loop would allow us to iterate through a list, performing the same action on each item in the list

In [4]:
#For loop syntax

for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [5]:
my_list=["one","two","three","four","five"]

In [6]:
for i in my_list:
    print(i)

one
two
three
four
five

In [10]:

for i in range(1,10):
    print(i)
else:
    print("end of program")

1
2
3
4
5
6
7
8
9
end of program

# write a program to print first 10 natural numbers

In [16]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# write a program to print first 10 even number

In [22]:
for i in range(2,22,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

# write a program to print first 10 odd number

In [24]:
for i in range(1,33,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31

# write a program to print first 10 even number in reverse order

In [33]:
for i in range(22,0,-2):
    print(i)

22
20
18
16
14
12
10
8
6
4
2

# write a program to print table of a number accepted from user

In [1]:
num=int(input("Enter NUMBER:-"))
for i in range(1,13):
    print(num*i)

Enter NUMBER:-16
16
32
48
64
80
96
112
128
144
160
176
192

# write a program to display product of the digits of a number accepted from the user

In [ ]:
i=int